* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", serif;
  background-image: url(../images/backgroundclinica.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

header,
footer {
  flex-shrink: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/*! ================ Estiçização da seção Header ================*/

header {
  background-color: #06825d;
  padding: 10px;
  display: flex;
  align-items: center;
  max-height: 65px;
}

.logo {
  display: block;
  align-items: center;
  padding: 1px;
  padding-left: 60px;
}

.logo h1 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-left: auto;
}

.nav-links {
  align-items: end;
  list-style: none;
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #1abc9c;
}

nav #login {
  width: 250px;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.2);
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  color: #ffffff;
  transition: background 0.3s ease;
}

nav #login:hover {
  background-color: #046a4c;
}

nav #login .arrow {
  margin-left: auto;
  padding-right: 5px;
}

nav #login .content-login-button {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

nav #login span {
  font-size: 14px;
  font-weight: 500;
}

nav #login p {
  display: flex;
  font-size: 14px;
  margin-top: 5px;
  color: #d0ece7;
}

/*! ================ ESTILIZAÇÃO first-half-section ================*/

.first-half-section {
  display: flex;
  justify-content: space-between;
  margin: 50px 75px;
}

.first-half-section .content-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}

.first-half-section .content-div .search-consultation {
  width: fit-content;
}

.first-half-section .content-div .search-consultation h1 {
  width: fit-content;
  color: #06825d;
  font-size: 28px;
  font-weight: 500;
}

.first-half-section .content-div .search-consultation p {
  width: fit-content;
  color: #06825d;
  font-size: 15px;
}

.first-half-section .content-div .search-consultation .container-search {
  display: flex;
  margin-top: 20px;
  width: fit-content;
  padding: 5px;
  background-color: rgba(6, 130, 93, 0.64);
  border: none;
  border-radius: 5px;
  align-items: center;
  gap: 10px;
}

.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-form {
  display: flex;
  gap: 10px;
}

.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-form
  input {
  outline: none;
  background-color: #ffffff;
  width: 250px;
  border: none;
  border-radius: 5px;
  padding: 12px 10px;
  font-size: 15px;
  transition: background 0.3s ease;
}

.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-form
  input:hover,
.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-form
  input:focus {
  background-color: #ffffffbf;
}

.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-button
  button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06825d;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.first-half-section
  .content-div
  .search-consultation
  .container-search
  .search-button
  button:hover {
  background-color: #046a4c;
}

.first-half-section .search-consultation .container-search .search-button img {
  margin-right: 8px;
  height: 18px;
  width: 18px;
}

.first-half-section .content-div .doctor-or-clinic-login h1 {
  width: fit-content;
  color: #06825d;
  font-size: 28px;
  font-weight: 500;
}

.first-half-section
  .content-div
  .doctor-or-clinic-login
  .container-different-login {
  display: flex;
  background-color: rgba(0, 0, 0, 0.25);
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  gap: 10px;
}

.first-half-section
  .content-div
  .doctor-or-clinic-login
  .container-different-login
  button {
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: #06825d;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.first-half-section
  .content-div
  .doctor-or-clinic-login
  .container-different-login
  button:hover {
  background-color: #046a4c;
}

.first-half-section .imagem-div {
  display: flex;
  justify-content: center;
  width: 50%;
}

.first-half-section .imagem-div #doctors {
  max-width: 450px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

/*! ================ ESTILIZAÇÃO join-health-care-section ================*/

.second-half-section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(224, 247, 244, 0.79);
  padding: 0 75px;
  box-shadow: 0 -5px 0.4em rgb(224, 247, 244, 0.79);
  height: auto;
}

.second-half-section .join-health-care-section {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.second-half-section .join-health-care-section #h1 {
  text-align: justify;
  color: #1b2734;
  font-size: 17px;
  font-weight: 700;
}

.second-half-section .join-health-care-section .list-join-heath-care {
  display: flex;
  align-items: center;
  text-align: center;
}

.second-half-section .join-health-care-section .list-join-heath-care ul {
  font-size: 12px;
  text-align: justify;
}

.second-half-section
  .join-health-care-section
  .list-join-heath-care
  li::marker {
  font-size: 15px;
  color: rgb(0, 0, 0, 0.5);
}

.second-half-section .join-health-care-section #h1-invite {
  text-align: justify;
  color: #1b2734;
  font-size: 21px;
  font-weight: 700;
}

.second-half-section .join-health-care-section button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06825d;
  color: #ffffff;
  padding: 12px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.second-half-section .join-health-care-section button:hover {
  background-color: #046a4c;
}

.second-half-section .join-health-care-section button img {
  margin-left: 10px;
}

/*! ================ ESTILIZAÇÃO platform-functions-section ================*/

.second-half-section .platform-functions-section .all-functions {
  display: flex;
  justify-content: space-between;
}

.second-half-section .platform-functions-section .all-functions .function {
  width: 300px;
}

.second-half-section
  .platform-functions-section
  .all-functions
  .function
  .title {
  display: flex;
  align-items: center;
}

.second-half-section
  .platform-functions-section
  .all-functions
  .function
  .title
  img {
  margin-right: 10px;
}

.second-half-section
  .platform-functions-section
  .all-functions
  .function
  .title
  h3 {
  font-size: 14px;
}

.second-half-section .platform-functions-section .all-functions .function p {
  font-size: 13px;
  height: 60px;
}

/*! ================ ESTILIZAÇÃO conteiner-footer ================*/

footer {
  background-color: #0b7e5c;
  color: #fff;
  bottom: 0px;
  width: 100%;
}

.conteiner-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteiner-footer .footer-left {
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.conteiner-footer p,
.conteiner-footer a {
  color: #fff;
  font-size: 12px;
}

.conteiner-footer .footer-right img {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  height: 100%;
}
